.DS_Store
Library/
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabase3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidmapper
Library/CurrentLayout.dwlt
Library/CurrentMaximizeLayout.dwlt
Library/InspectorExpandedItems.asset
.vs
Temp
*.csproj
*.pidb
Library/shadercompiler-1.log
*.swp
*.swo
*.savegame
savegame-*
*-backup
game.settings
obj/Debug/
Temp/*
temp
obj
.vscode/
